
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif&display=swap');

body {
  background-color: #fff;
  font-family: "Avenir", Sans-serif;
}

.primary {
  color: #000000;
}

.primary_bg {
  background-color: #000000;
}

.secondary {
  color: #ff6900;
}

.secondary_bg {
  background-color: #ff6900;
}