@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif&display=swap');

body {
  background-color: #fff;
  font-family: "Avenir", Sans-serif;
  font-family: "Rift", Sans-serif;
}

.ternaryFont {
  font-family: 'Oswald', sans-serif;

}

.primary {
  color: #000000;
}

.primary_bg {
  background-color: #000000;
}

.secondary {
  color: #ff6900;
}

.secondary_bg {
  background-color: #ff6900;
}

.ReactCollapse--collapse {
  transition: height 1000ms;
}

.text-shadow {
  overflow: hidden;
  color: #000000;
  font-family: "Rift", Sans-serif;
  Letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fiLL-color: transparent;
  -webkit-text-stroke-width: 2px;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);

}

.transaction_div {
  transform: translate(-50%, -50%);

}